@media only screen and (max-device-width: 1700px) {
  /*Header*/
  .menu_button {
    letter-spacing: 2px;
  }
}

@media only screen and (max-device-width: 1520px) {
  /*Header*/
  .menu_button {
    font-size: 30px;
  }
}

@media only screen and (max-device-width: 1400px) {
  /*Explore*/
  .explore_kids_pictures img {
    max-width: 400px;
  }
}

@media only screen and (max-device-width: 1345px) {
  /*Header*/
  .menu_button {
    font-size: 26px;
  }

  /*Home*/
  .welcome {
    max-width: 1200px;
  }

  .home_interior {
    max-width: 400px;
    max-height: 205px;
  }

  .content_tiles {
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-areas:
      "explore_tile exhibitions_tile"
      "news_tile visit_tile";
  }
}

@media only screen and (max-device-width: 1230px) {
  /*Header*/
  .menu_button {
    font-size: 20px;
  }

  /*Explore*/
  .explore_kids_pictures img {
    max-width: 300px;
  }
}

@media only screen and (max-device-width: 1055px) {
  /*Header*/
  .menu_button {
    padding: 10px 10px;
  }

  /*Visit*/

  main {
    max-width: 900px;
  }

  .visit_container,
  .visit_food_container,
  .visit_shop_container {
    flex-direction: column;
  }

  #visit_location_map,
  .visit_hours_table,
  #visit_cafeteria,
  #visit_shop_picture {
    width: 100%;
  }
}

@media only screen and (max-device-width: 940px) {
  /*Header*/
  .menu_button {
    padding: 5px 5px;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*Explore*/
  .radio_labels {
    display: block;
  }
  #show_bumper_picture:checked ~ #explore_mammouth_picture {
    display: none;
  }

  #show_bumper_picture:checked ~ #explore_robot_picture {
    display: none;
  }

  #show_mammouth_picture:checked ~ #explore_bumper_picture {
    display: none;
  }

  #show_mammouth_picture:checked ~ #explore_robot_picture {
    display: none;
  }

  #show_robot_picture:checked ~ #explore_bumper_picture {
    display: none;
  }

  #show_robot_picture:checked ~ #explore_mammouth_picture {
    display: none;
  }

  .explore_kids_pictures {
    flex-direction: column;
  }

  .explore_kids_pictures img {
    width: 100%;
    overflow: clip;
  }

  .explore_kids_container {
    flex-direction: column;
  }
  .holyday_club_container {
    flex-direction: column;
  }
  .holyday_club_picture {
    text-align: center;
  }

  /* Exhibitions */
  #exhibition_cosmology_container,
  #exhibition_evolution_container,
  #exhibition_biology_container,
  #exhibition_robotics_container,
  #exhibition_ecology_container {
    flex-direction: column;
  }

  .exhibition_image img {
    width: 100%;
  }
}

@media only screen and (max-device-width: 875px) {
  /*Header - hamburger menu*/
  .menu_buttons {
    display: none;
  }

  #hamburger_menu_label {
    display: block;
  }

  .fa-bars {
    font-size: 50px;
  }

  .logo {
    grid-area: logo;
  }
  .hamburger_menu {
    grid-area: hamburger_menu;
  }
  .menu_buttons {
    grid-area: menu_buttons;
  }

  .navigation {
    display: grid;
    align-items: center;
    grid-template-areas:
      "logo hamburger_menu"
      " . menu_buttons";
  }

  #hamburger_menu:checked ~ .menu_buttons {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
  }

  /*Home*/
  .home_interior {
    width: 100%;
  }
}

@media only screen and (max-device-width: 650px) {
  .content_tiles {
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      "explore_tile"
      "exhibitions_tile"
      "news_tile"
      "visit_tile";
  }
}

@media only screen and (max-device-width: 540px) {
  /*Exhibitions*/
  .exhibition_title {
    font-size: 35px;
  }
}

@media only screen and (max-device-width: 495px) {
  /*Visit*/
  #visit_location_map,
  #visit_shop_picture {
    width: 250px;
    height: 250px;
  }

  #visit_location_museum,
  #visit_cafeteria {
    width: 300px;
    height: 250px;
  }

  #visit_location_museum,
  .visit_container,
  .visit_food_container,
  .visit_shop_container {
    align-items: center;
  }

  .left {
    padding-right: 20px;
  }

  /*Exhibitions*/
  .exhibition_title {
    font-size: 30px;
  }
}

@media only screen and (max-device-width: 410px) {
  header h1 {
    font-size: 40px;
  }

  .footer_address {
    grid-area: footer_address;
  }

  .footer_error_found {
    grid-area: footer_error_found;
  }

  .footer_created_by {
    grid-area: footer_created_by;
  }

  footer {
    display: grid;
    gap: 2px;
    grid-template-areas:
      "footer_address footer_error_found"
      "footer_address footer_created_by";
  }

  body {
    font-size: 20px;
  }

  /*Explore*/

  .h2_kids {
    font-size: 35px;
  }

  p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }

  .explore_kids_container {
    display: none;
  }

  #explore_kids_checkbox:checked ~ .explore_kids_container {
    display: flex;
    flex-direction: column;
  }

  .explore_teachers_container {
    display: none;
  }

  #explore_teachers_checkbox:checked ~ .explore_teachers_container {
    display: flex;
    flex-direction: column;
  }

  .explore_researchers_container {
    display: none;
  }

  #explore_researchers_checkbox:checked ~ .explore_researchers_container {
    display: flex;
    flex-direction: column;
  }

  /*Exhibitions*/
  #exhibition_cosmology_container {
    display: none;
  }

  #exhibitions_cosmology_checkbox:checked ~ #exhibition_cosmology_container {
    display: flex;
    flex-direction: column;
  }

  #exhibition_evolution_container {
    display: none;
  }

  #exhibitions_evolution_checkbox:checked ~ #exhibition_evolution_container {
    display: flex;
    flex-direction: column;
  }

  #exhibition_biology_container {
    display: none;
  }

  #exhibitions_biology_checkbox:checked ~ #exhibition_biology_container {
    display: flex;
    flex-direction: column;
  }

  #exhibition_robotics_container {
    display: none;
  }

  #exhibitions_robotics_checkbox:checked ~ #exhibition_robotics_container {
    display: flex;
    flex-direction: column;
  }

  #exhibition_ecology_container {
    display: none;
  }

  #exhibitions_ecology_checkbox:checked ~ #exhibition_ecology_container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-device-width: 395px) {
  #support_button {
    font-size: 35px;
  }
}

@media only screen and (max-device-width: 315px) {
  .explore_tile,
  .exhibitions_tile,
  .news_tile,
  .visit_tile {
    width: 220px;
    height: 450px;
    border: solid black 1px;
  }

  h1 {
    font-size: 40px;
  }

  .h2_tile {
    font-size: 35px;
  }
  .visit_map {
    width: 200px;
    height: 180px;
    text-align: center;
  }

  /*Exhibitions*/
  .exhibition_title {
    font-size: 25px;
  }
}

@media only screen and (max-device-width: 200px) {
  header h1 {
    font-size: 20px;
  }

  footer {
    font-size: 8px;
  }
}
