/*General*/

@font-face {
  font-family: "MadScience";
  src: url("../fonts/MadScience.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceCruiserOutline-lvEX";
  src: url("../fonts/SpaceCruiserOutline-lvEX.otf") format("opentype");
}

header,
footer {
  background-color: #cfd4d9;
  border: 1px solid black;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

h1 {
  font-family: "MadScience", Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
  color: #0d0d0d;
  text-align: center;
  padding; 0;
}

a {
  text-decoration: none;
}

.h2_tile {
  font-family: "SpaceCruiserOutline-lvEX", Georgia, "Times New Roman", Times,
    serif;
  font-size: 45px;
  color: white;
  background-image: url("../images/csm_navigation_header_background.jpg");
  max-height: 60px;
  max-width: 315px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.h2_kids {
  font-family: "MadScience", Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  color: #2c6a99;
  -webkit-text-stroke-width: 0.001em;
  -webkit-text-stroke-color: black;
  text-align: center;
}

.h2_blue {
  font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  font-weight: Medium;
  color: #2c6a99;
  text-align: center;
}

/*End general section*/

/*Header*/

header {
  margin-top: 2px;
}

header h1 {
  text-align: center;
  font-family: "SpaceCruiserOutline-lvEX", sans-serif;
  font-size: 60px;
  color: white;
  background-image: url("../images/csm_navigation_header_background.jpg");
}

.nav_name,
#navigation_h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#hamburger_menu_label {
  display: none;
}

#hamburger_menu {
  display: none;
}

.menu_button {
  text-decoration: none;
  font-family: "MadScience", Georgia, "Times New Roman", Times, serif;
  font-size: 36px;
  color: #2c6a99;
  background-color: #cfd4d9;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  letter-spacing: 5px;
  padding: 10px 20px;
  box-shadow: 0 0 10px #000000;
}

.menu_button:hover {
  background-color: white;
}

/*End Header section*/

/*Footer*/

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  margin-top: auto;
  margin-bottom: 2px;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer p {
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
}

/*End Footer section*/
